div{
    color: blueviolet;
    font-size: 150%;
    text-align: center;
    padding: -3%;
    border-style: solid;
    font-family: 'Comfortaa', cursive;
    background-color: bisque;
    
    
}

body{
    background-color: rgb(127, 193, 255)
}
